<div id="content" class="menus">
	<h2>menus</h2>
	<ul>
		<li><a routerLink="/menus/louise" >menu Louise</a></li>
		<li><a routerLink="/menus/agathe" >menu Agathe</a></li>
		<li><a routerLink="/menus/bertille" >menu Bertille</a></li>
		<li><a routerLink="/menus/alice" >menu Alice</a></li>
		<li><a routerLink="/menus/desserts" >carte des desserts</a></li>
	</ul>

	<p>Tous les plats sont préparés uniquement sur commande</p>
	<p>Pour toute réception supérieure à 20 convives un tarif dégréssif vous sera proposé</p>
	<p>Je m’adapte à toutes les cuisines.</p>

	<figure>
		<img src="assets/images/thumb/plats/canard-fruit-rouge.jpg" alt="carnard fruits rouges" />
		<img src="assets/images/thumb/plats/plateau-de-verrines.jpg" alt="plateau de verrines" />
		<img src="assets/images/thumb/plats/filet-de-boeuf-en-croute.jpg" alt="filet de boeuf en croute" />
		<img src="assets/images/thumb/plats/mousseline-celeri-st-jacques.jpg" alt="mousseline céléri st-jacques" />
	</figure>

</div>