@import "../variables";
@import "../themes";
@import "../menu";

//$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

:host{
	div{
		position: fixed;
		top: 10%;
		left: 10%;
		right: 10%;
		bottom: 10%;
		background-color: lightgray;
		text-align: center;
		h1{
			padding: 0;
			margin: 22px;
		}
		img{
			max-height: 90%;
			max-width: 90%;
			vertical-align: middle;
		}

		button{
			color: $violet;
			border: none;
			background: none;
			position: absolute;
			&::before{
				text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
			}

		}
		.close{
			@extend .fa;
			@extend .fa-times;
			top: 5px;
			right: 5px;
			font-size: 0px;	
			&::before{
				font-size: 20px;
			}
			
		}
		.preview, .next{
			top: 50%;
			transform: translateY(-50%);
			@extend .fa;
			font-size: 0px;	
			&::before{
				font-size: 40px;
			}
		}

		.preview{
			@extend .fa-arrow-left;
			left: 5px;
			
		}
		.next{
			@extend .fa-arrow-right;
			right: 5px;
		
		}
	}
	@media all and (max-width: 768px){
		div{
			top: 0%;
			left: 0%;
			right: 0%;
			bottom: 0%;
			h1{
				font-size: 1.5em;
				line-height: 150%;
			}
			.preview, .next{
				display: none;
			}
			.close{
				&::before{
					font-size: 40px;
				}
			}
		}
		
	}
		
}

h2[view]{
	color: $rose;
	@extend .fa;
	@extend .fa-times;
}