<div id="content" class="menu-page buffet">
	<h2>buffet Lina</h2>
	<section class="menu">
		<div class="price">18€</div>
		<div class="price">plateau de fromages : + 1,50€</div>
		<ul>
			<li>salades composées</li>

			<li>charcuterie
				<ul>
					<li>rillettes</li>
					<li>paté de porc</li>
					<li>petits rillons</li>
					<li>assortiment de rondelles</li>
				</ul>
			</li>

			<li>viande
				<ul>
					<li>roti de porc</li>
					<li>roti de boeuf et chips</li>
					<li>Poulet roti</li>
				</ul>
			</li>

			<li>buffet de fruits</li>
			<li>buffet de mignardises ou gâteau de pâtissier et bougies</li>
			<li>pain</li>
		</ul>
	</section>
	<salades class="inline"></salades>
</div>
