<div id="content" class="desserts">
	<h2>carte des desserts</h2>
	<section class="menu">
		<div>
			<h3>Mignardises: (x4 par personne)</h3>
			<ul>
				<li>Gratin d’agrumes, Oeufs au lait, Profiterole, Rose des sables,</li>
				<li>Petite Tatin pomme et mangue, Tarte fine, </li>
				<li>Mousse chocolat, Moelleux chocolat et sa crème anglaise,</li>
				<li>Gâteau aux pommes, Crème brulée chocolat, vanille, ou pistache,</li>
				<li>Panna Cotta aux agrumes et Sorbet citron vert, ou Fruits rouges ou Abricots amandes,</li>
				<li>Blanc Manger et abricot poêlé au Romarin, </li>
				<li>Fruits frais, Glace ou Sorbet</li>
				<li>Clafoutis ou Crumble aux fruits de saison</li>
				<li>cookies aux deux chocolats</li>
			</ul>
		</div>

		<div>
			<h3>Dessert individuel</h3>
			<ul>					
				<li>Salade de fruits au Vouvray</li>
				<li>Profiteroles aux deux chocolats</li>
				<li>Tarte fine aux pommes et glace vanille</li>
				<li>Œufs au lait et soupe de fruits rouges</li>
				<li>Pain perdu, pommes sautées et son verre de Cidre</li>
				<li>poire au sirop, Badiane, chocolat chaud &amp; chantilly</li>
			</ul>
		</div>
		<div>
			<h3>Coupe fraîcheur</h3>
			<ul>					
				<li>fruits frais, glace chocolat, glace banane, chocolat chaud et chantilly</li>
			
			</ul>
		</div>
	</section>
	<p>Toutes les mignardises peuvent être réalisées en dessert individuel</p>
	<p>Possibilité d’une large gamme de gâteaux d’anniversaire et Pièces montées de toutes formes.</p>

	<figure>			
		<img src="assets/images/thumb/plats/frontenac.jpg" alt="frontenac, au sirop d erable" />
	</figure>
</div>