<div id="content" class="menu-page">
	<h2>menu Alice</h2>
	<p>enfants</p>


	<section class="menu">
		<div class="price">11€</div>
		<ul><li></li></ul>
		<section>
			<h2>entrées</h2>
			<ul>
				<li>tomate surprise</li>
				<li>toasts de rillettes au porc fermier et petite crudité</li>
			</ul>
		</section>

		<section>
			<h2>plats</h2>
			<ul>
				<li>emincé de volaille à la crème et pâtes fraîches</li>
				<li>ou</li>
				<li>escalope de saumon, riz aux petits légumes</li>
			</ul>
		</section>

		<section>
			<h2>desserts</h2>
			<ul>
				<li>moelleux au chocolat, crème anglaise</li>
				<li>ou</li>
				<li>coupe de glace</li>
				<li>ou</li>
				<li>tarte aux pommes </li>
			</ul>
		</section>
	</section>

	<fromages></fromages>
	
	<figure>			
	</figure>
</div>