<div id="content" class="menu-page">
	<h2>menu Agathe</h2>
	<p>pour 6 personnes minimum</p>


	<section class="menu">
		<div class="price">29,50€ : 3 plats</div>
		<div class="price">34€ : 4 plats</div>
		<ul>
			<li>mise en bouche</li>
		</ul>
		<section>
			<h2>entrées</h2>
			<ul>
				<li>rillettes de canard au Foie gras</li>
				<li>vol au vent d’escargots au Riesling</li>
				<li>farandole de saumon (mariné, blinis, en rileetes à poêlé)</li>
				<li>abondance: pamplemousse ou melon garni de crudités et surmonté d’une langoustine</li>
				<li>mousseline de Céléri, poêlée de petites St Jacques et noisettes grillées</li>
				<li>petit feuilleté de poisson au beurre blanc</li>
				<li>terrine de saumon et st Jaques, asperges vertes et carottes, sauces ciboulette</li>
				<li>tatin de boudin noir
					<photo-exist view="entree-tatin-boudin"></photo-exist>
				</li>
				<li>(et toutes les entrées du <a routerLink="/menus/bertille">menu Bertille</a>)</li>
			</ul>
		</section>

		<section>
			<h2>poissons</h2>
			<ul>
				<li>trio de l’océan et ratatouille aux 5 légumes</li>
				<li>Dos de cabillaud en croustillant, tian de légumes à l’huile d’olive, beurre blanc à la Vanille</li>
				<li>spaghetti aux petites St Jacques et légumes croquants</li>
				<li>papillote de poissons du marché, St Jacques et langoustine</li>
			</ul>
		</section>

		<section>
			<h2>viandes</h2>
			<ul>
				<li>bouchées de Gambas et poulet, sauce mangue-passion
					<photo-exist view="viande-gambas-poulet"></photo-exist>
				</li>
				<li>magret de Canard aux pèches rôties, sauce aigre douce aux groseilles
					<photo-exist view="viande-magret-canard"></photo-exist>
				</li>
				<li>magret de Canard grillé, buerre rouge au cacao</li>
				<li>côte d’Agneau en habit doré, purée de patate douce
					<photo-exist view="viande-cote-agneau"></photo-exist>
				</li>
				<li>timbale de parmentier de Canard confit, sauce champignons forestiers</li>
				<li>civet de Lapin aux pruneaux et au cidre</li>
			</ul>
		</section>
		<section>
			<h2>desserts</h2>
			<ul>
				<li><a routerLink="/menus/desserts">carte des Desserts</a><li>
			</ul>
		</section>
	</section>

	<fromages></fromages>

	<figure>
		<img src="assets/images/thumb/plats/cote_agneau.jpg" alt="côte d'agneau en habit doré" view="viande-cote-agneau" />
		<img src="assets/images/thumb/plats/magret_canard.jpg" alt="magret de canard" view="viande-magret-canard" />
		<img src="assets/images/thumb/plats/tatin_boudin_noir.JPG" alt="tatin de boudin noir" view="entree-tatin-boudin" />
		<img src="assets/images/thumb/plats/lotte-en-croustillant.jpg" alt="lotte en croustillant" />
		<img src="assets/images/thumb/plats/gambas-poulet.jpg" alt="bouchet de gambas et poulet" view="viande-gambas-poulet" />

	</figure>
</div>