<div id="content" class="accueil">
		<ul>
		<li>Vous désirez recevoir chez vous?</li>
		<li>Etre disponible pour vos invités?</li>
		<li>Savourer des mets raffinés?</li>
		<li>Faire un cadeau original?</li>
		<li>Etre libéré de l’organisation de la réception ?</li>
	</ul>

	<h2>Offrez-vous les services d’un chef à votre domicile</h2>
	<p>
		Un dîner à deux – Un repas de famille<br/>
		Une soirée entre amis – Un repas de fête<br />
		Un repas d’affaires<br />
		Un cadeau à offrir
	</p>
	<img src="assets/images/thumb/accueil.jpg" alt="accueil autour d'un apréritif préparer par nos serveuses"/>
</div>