<div id="content" class="contact" itemscope itemtype="http://schema.org/Person"> 
	<h2>Festy repas du Loup</h2>
	<p itemprop="description">Diplômée de l’école hôtelière de Dinard. Cuisinière chez G.Lenôtre PARIS. Gérante de restaurants</p>

	<address>
		<span itemprop="name">Valérie Bourny</span>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span itemprop="streetAddress">14 rue des fours à chaux</span>
			 <span itemprop="postalCode">53340</span> <span itemprop="addressLocality"> Cossé-En-Champagne</span>
		</div>
	</address>
	


	<address>
		<span itemprop="telephone">02 43 01 07 55</span>
		<span itemprop="telephone">06 82 54 71 33</span>

		<a href="mailto:valeriebourny@orange.fr" itemprop="email" >valeriebourny@orange.fr</a>
	</address>
	<address>
		<img src="assets/images/thumb/qr-code.png" alt="Me contacter"/>
	</address>

	<img src="assets/images/thumb/plats/tomates_confites.jpg" alt="tomates confites" class="presentation" />
</div>