<div id="content" class="contact" itemscope itemtype="http://schema.org/Person"> 
	<h2>Festy repas du Loup</h2>

	<img src="assets/images/thumb/plats/tomates_confites.jpg" alt="tomates confites" class="presentation" />
	<img src="assets/images/thumb/plats/tomates_confites.jpg" alt="tomates confites" class="presentation" />
	<address>
		<span itemprop="name"><a href="mailto:valeriebourny@orange.fr" itemprop="email" >Valérie Bourny</a></span>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span itemprop="streetAddress">14 rue des fours à chaux</span>
			 <span itemprop="postalCode">53340</span> <span itemprop="addressLocality"> Cossé-En-Champagne</span>
		</div>
	</address>
	<p itemprop="description">Diplômée de l’école hôtelière de Dinard. Cuisinière chez G.Lenôtre PARIS. Gérante de restaurants</p>


	<address>
		<span itemprop="telephone"><a href="tel:0243010755">02 43 01 07 55</a></span>
		<span itemprop="telephone"><a href="tel:0682547133">06 82 54 71 33</a></span>

		<a href="mailto:valeriebourny@orange.fr" itemprop="email" >valeriebourny@orange.fr</a>
		<a href="http://www.lesloupsgourmands.com/">Les loups gourmands - Restaurant Bar</a>
		<a href="http://festyrepasduloup.com/">Festy repas du loup - Chef à domicile</a>
		<a href="https://www.facebook.com/Les-loups-gourmands-1597434550489236">/Les-loups-gourmands-1597434550489236</a>
	</address>

</div>