<section class="fromage">
	<div class="fromage-background">
	</div>
	<section >
		<h2>Plateau de fromages et salade</h2>
		<ul>
			<li>assortiment de 3 fromages affinés 19€ (jusqu’à 8 à 9 pers)</li>
			<li>assortiment de 5 fromages affinés 28€ (jusqu’à 15 pers)</li>
			<li>fromage supplémentaire 6€</li>
		</ul>
		<h2>Assiette de 3 fromages affinés et salade au vinaigre balsamique 2€</h2>
		<h2>Camembert rôti, flambé au Pommeau (avec pomme, poire, lardons et noisettes grillées) 2,10€</h2>
		<h2>Variation de Roquefort : fruits secs farcis, nature, chaud sur toast; verrine avec poire & noix 2,80€</h2>
	</section>
</section>
