<div id="content" class="others-services">
	<h2>Autres services possibles :</h2>
	<p>Au-delà de 12 personnes et afin d’assurer une prestation de qualité un serveur est nécessaire. Celui-ci peut être une de vos connaissances. Je peux également employer une personne pour les quelques heures du service, cette prestation est facturée 20€ par heure.</p>

	<p>Si vous ne disposez pas de cave, je peux également vous conseiller dans le choix de vins ou de champagnes et vous les fournir.</p>

	<p>Je m’occupe également de la location de matériel (mobilier, vaisselle,…) si nécessaire.</p>

	<p>Le dressage de la table et sa décoration sur le thème de votre choix.</p>

	<img src="assets/images/thumb/table-dressee.jpg" alt="Table dresser sur le thème de votre choix" />

	<article class="pub">
		<h1>N’hésitez plus à vous offrir le plaisir d’un chef de cuisine à domicile</h1>
		<p>Repas à mon domicile possible sur réservation.</p>
		<p>Cours de cuisine individuel ou en groupe sur demande.</p>
	</article>
</div>
