<div id="content" class="concept">
	<h2>Le concept est simple: Votre chef à domicile s’occupe de tout!</h2>

	<section class="concept">
		<h3>Recevez sans vous soucier des longs préparatifs de la cuisine.</h3>
		<p>Vous profitez de l’intimité de chez vous, pour partager un agréable moment en présence de vos invités sans préoccupation : pas de transport, gardez vos enfants avec vous, savourez une bonne bouteille sans risque pour votre permis de conduire et poursuivez ce repas aussi longtemps que vous le souhaitez.</p>

		<p>Création de menus et mets sur mesure en fonction de vos goûts et des saisons : Choisissez la formule la mieux adaptée à votre envie.</p>

		<p>Je privilégie les produits régionaux de qualité, achetés directement chez des producteurs locaux et vous propose toute une gamme de plats typiques du Maine.</p>
	</section>

	<section class="demarche">
		<h3>La démarche</h3>
			<div>
				<p>Dans un premier temps vous prenez contact avec moi. Nous nous rencontrons quelques jours avant la date prévue, dans le lieu où vous désirez faire votre repas. Au cours de ce premier contact, vous choisissez votre menu et nous faisons un petit tour d’horizon de la cuisine.</p>

				<p>Une table de cuisson, un four ainsi qu’un peu de place au réfrigérateur sont nécessaires.</p>

				<p>Le jour « j », j’investis discrètement votre cuisine afin d’y confectionner le repas choisi.<p>

				<p>Mettez les pieds sous la table : j’assure le service.</p>

				<p>Je m’éclipse en ayant soin de vous laisser la cuisine propre et bien rangée comme à mon
				arrivée, et vous laisse profiter d’un agréable moment avec vos invités.</p>
			</div>

			<img src="assets/images/thumb/coocking.jpg" alt="Je cuisine chez vous."/>
	</section>

</div>