<div id="content" class="menu-page">
	<h2>menu Bertille</h2>
	<p>pour 6 personnes minimum</p>


	<section class="menu">
		<div class="price">24,50€ : 3 plats</div>
		<div class="price">28,50€ : 4 plats</div>

		<ul>
			<li>mise en bouche</li>
		</ul>
		<section>
			<h2>entrées</h2>
			<ul>
				<li>salade, crudités et lardons &amp; brique de Brie</li>
				<li>salade aux noix et rillons tièdes</li>
				<li>pamplemousse cocktail</li>
				<li>Terrine de poisson, asperges vertes & carottes, sauce ciboulette
					<photo-exist view="entree-terrine-poisson"></photo-exist>
				</li>
				<li>duo de rillettes du Maine( porc et canard fermier de la Mayenne )</li>
				<li>fondant de foies de volaille et toasts tièdes
					<photo-exist view="entree-foie-volaille"></photo-exist>
				</li>
				<li>salade frisée aux lardons et oeuf poché</li>
				<li>velouté de radis et croutons au beurre</li>
			</ul>
		</section>

		<section>
			<h2>poissons</h2>
			<ul>
				<li>filet de poisson au Noilly Prat et fondue de poireau
					<photo-exist view="poisson-filet"></photo-exist>
				</li>
				<li>duo de poisson en papillote et légumes de saison</li>
				<li>feuilleté de poisson, beurre blanc</li>
				<li>(Selon marché du jour)</li>
			</ul>
		</section>

		<section>
			<h2>viandes</h2>
			<ul>
				<li>mignon de porc flambé au Whisky à la crème</li>
				<li>médaillons de Mignon de porc au cidre et sa Pomme au four</li>
				<li>sauté de porc au miel et fenouil</li>
				<li>filet de poulet à la crème, gratin dauphinois et petits légumes</li>
				<li>langue de Boeuf sauce piquante</li>
				<li>blanquette de Veau à l'ancienne</li>
				<li>fondant de Poulet farci, sauce aux cèpes
					<photo-exist view="viande-poulet-cepes"></photo-exist>
				</li>
			</ul>
		</section>
		<section>
			<h2>desserts</h2>
			<ul>
				<li><a routerLink="/menus/desserts">carte des Desserts</a><li>
			</ul>
		</section>
	</section>

	<fromages></fromages>

	<figure>
		<img src="assets/images/thumb/plats/terrine_poisson.jpg" alt="terrine de poisson" view="entree-terrine-poisson" />
		<img src="assets/images/thumb/plats/filet_poisson.jpg" alt="fillet de poisson au Moilly Prat et fondue de poireau" view="poisson-filet"
		/>
		<img src="assets/images/thumb/plats/fondant_poulet_cepes.jpg" alt="fondant de poulet aux cêpes" view="viande-poulet-cepes"
		/>
		<img src="assets/images/thumb/plats/fondant-foie-de-volaille.jpg" alt="fondant foie de volaille" view="entree-foie-volaille"
		/>
	</figure>
</div>