$rose: #F400A1;
$violet: #9405F8;
$violet2: #4B1F6F;
$font-family-styler:"BaroqueScriptRegular","Purisa","Trebuchet MS",Verdana,sans-serif;
$font-family-classique:"Lucida Grande","Lucida Sans","Lucida Sans Unicode",Verdana,Helvetica,Arial,sans-serif;
$contentBackground: #FFFDEA;
$nav-hover: #DDDDDD; 
