<img src="/assets/images/resto/interieur.jpg" alt="interieur" class="interieur" />
<p>
  Au restaurant, Valérie vous propose une cuisine traditionnelle et goûteuse issue de produits locaux.
</p>

<img src="/assets/images/resto/plat1.jpg" alt="plat" class="plat plat1" />
<p>
  Restaurant cuisine traditionnelle avec menu unique à 12,50€.
</p>
<p>Ouvert tous les midis du lundi au vendredi</p>
<p><a routerLink="/repas-groupes">Le week end restauration possible sur réservation avec une carte élargie</a></p>
