<img src="/assets/images/resto/interieur.jpg" alt="interieur" class="interieur" />
<p>
  Au restaurant, Valérie vous propose une cuisine traditionnelle et goûteuse issue de produits locaux.
</p>

<img src="/assets/images/resto/plat1.jpg" alt="plat" class="plat plat1" />
<img src="/assets/images/resto/plat2.jpg" alt="plat" class="plat plat2" />
<p>
  Restaurant cuisine traditionnelle avec menu unique à 12,50€
</p>
<p>Ouvert du lundi midi au vendredi midi</p>
<p><a routerLink="/repas-groupes">Le week end restauration possible sur réservation et une carte élargie</a></p>