<div id="content">
	<h2>Amuse – bouche Apéritif</h2>

	<section class="menu apero">
		<section>
			<h2>verrines</h2>
			<ul>
				<li>pamplemousse et crevettes sauce cocktail</li>
				<li>purée de patate douce et magret de canard fumé</li>
				<li>crème de roquefort, noix et poire</li>
				<li>crème de fromage frais et dés de saumon fumé</li>
				<li>mousseline de céléri et petites St Jacques</li>
				<li>melon au Muscat</li>
				<li>petits pois aux éclats de noisettes et saucisse à l'ail sur pannacotta aux épices</li>
				<li>purée de fenouil & poivron cuisiné</li>
				<li>crémeuse de citrouille au curcuma</li>
			</ul>
		</section>

		<section>
			<h2>cuillères</h2>
			<ul>
				<li>fricassée de poulet à l’ananas</li>
				<li>mini brochette tomate mozzarella au pesto</li>
				<li>mini tatin au boudin noir</li>
				<li>crème brulée au foie gras</li>
				<li>féta marinée & tomate cerise confite</li>
				<li>spaghetti de courgettes au basilic & gambas</li>
				<li>rillettes de saumon fumé à la ciboulette</li>
				<li>mini ratatouille et oeuf de caille</li>
				<li>petite crème aux légumes cuisinés, fromages, saumon frais, foie gras...</li>
			</ul>
		</section>
		<section>
			<h2>tartines</h2>
			<ul>
				<li>nicoise : mousse de thon, tomate, oeuf dur, salade</li>
				<li>tomate, mozarella</li>
				<li>saumon fumé</li>
				<li>toastée : beurre d'ail et Brie de Meaux</li>
				<li>toastée : huile d'olive, fromage, tomate cerise & épices</li>
			</ul>
		</section>

		<section>
			<h2>mini cakes</h2>
		</section>

		<section>
			<h2>mini quiche</h2>
		</section>

		<section>
			<h2>blinis</h2>
			<ul>
				<li>fromage frais et oeufs de poisson, ou dés de saumon</li>
			</ul>
		</section>

		<section>
			<h2>canapés au pain d’épice</h2>
			<ul>
				<li>miel et fromage de chèvre et abricot</li>
			</ul>
		</section>
		<section>
			<h2>tarif pour 6,90€ / pers :</h2>
			<ul>
				<li>4 verrines & 4 cuillères au choix</li>
				<li>3 verrines, 3 cuillères, 1 pain d’épice & 1 blinis</li>
				<li>3 verrines, 3 cuillères, 1 tartine nicoise & 1 tartine toastée</li>
				<li>2 verrines, 2 cuillères, 1 pain d’épice, 1 blinis, 2 cakes & 2 quiches</li>
				<li>2 verrines, 2 cuillères, 1 pain d’épice, 1 tartine nicoise & 2 tartines toastées</li>
				<li>1 pain d’épice, 1 blinis, 1 tartine nicoise, 2 tartines toastées, 2 cakes & 2 quiches</li>
			</ul>
		</section>
	</section>

	<section class="menu apero">

		<section>
			<h2>minis choux garnis</h2>
		</section>

		<section>
			<h2>pains longs garnis</h2>
			<ul>
				<li>beurres de saumon, thon ou jambon, mousse de foie</li>
				<li>rillettes</li>
				<li>fromage frais</li>
			</ul>
		</section>

		<section>
			<h2>pruneaux au bacon</h2>
			<ul>
				<li>et autres ( banane, abricots secs, ananas frais)</li>
			</ul>
		</section>

		<section>
			<h2>minis croque monsieur</h2>
		</section>
		<section>
			<h2>minis croque madame (avec ananas)</h2>
		</section>
		<section>
			<h2>mini feuilleté d'escargot</h2>
		</section>
		<section>
			<h2>bâtonnet pain de campagne, crème de ciboulette et saumon fumé</h2>
		</section>

		<section>
			<h2>mini brochettes: poulet paquet / poulet gambas: 1,30€/pce</h2>
		</section>
		<section>
			<h2>panier de crudités et ses sauces: 30€</h2>
		</section>
		<section>
			<h2>tarte tomate oignons et poivrons ( à partager) 8€</h2>
		</section>
		<section>
			<h2>pains longs garnis:8 €/pce</h2>
		</section>
		<section>
			<h2>1/2 macaron et mousse de jambon, roquefort, foie gras</h2>
		</section>	
		<section>
			<h2>escargots et petites Saint Jacques poêlés au beurre d'ail</h2>
		</section>

	</section>

	<figure>
		<img src="assets/images/thumb/plats/plateau_aperitif.jpg" alt="apéritif" />
		<img src="assets/images/thumb/plats/plateau_aperitif_2.jpg" alt="apéritif" />
		<img src="assets/images/thumb/plats/plateau_aperitif_3.jpg" alt="apéritif" />
		<img src="assets/images/thumb/plats/plateau_aperitif_4.jpg" alt="apéritif" />
		<img src="assets/images/thumb/plats/plateau_aperitif_5.jpg" alt="apéritif" />
		<img src="assets/images/thumb/plats/plateau_aperitif_6.jpg" alt="apéritif" />
		<img src="assets/images/thumb/plats/tomate_confite.jpg" alt="tomate confite" />
	</figure>
</div>