<div id="content" class="menu-page buffet buffet-marie">
	<h2>buffet Marie</h2>
	<section class="menu">
		<div class="price">8€</div>
		<ul>

			<li>Buffet de crèpes à volonté
				<ul>
					<li>salées
						<ul>
							<li>fromage</li>
							<li>jambon</li>
							<li>beurre</li>
						</ul>
					</li>
					<li>sucrées
						<ul>
							<li>sucre</li>
							<li>nutella</li>
							<li>confitures </li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<p>minimun 8 enfants</p>
	</section>
</div>
