<ul class="salades">
	<li>Couleur et sa sauce cocktail
		<ul>
			<li>salade verte</li>
			<li>pamplemousse</li>
			<li>pèche</li>
			<li>tomate</li>
			<li>olives noires</li>
			<li>crevettes</li>
		</ul>
	</li>
	<li>Piedmontaise
		<photo-exist view="salade-piemontaise"></photo-exist>
		<ul>
			<li>Pdt</li>
			<li>tomate</li>
			<li>jambon</li>
			<li>oeuf</li>
			<li>fromage</li>
			<li>cornichon</li>
			<li>mayo</li>
		</ul>
	</li>
	<li>Mancelle
		<ul>
			<li>Pdt</li>
			<li>tomate</li>
			<li>saucisson à l'ail</li>
			<li>oeuf</li>
			<li>fromage</li>
			<li>cornichon</li>
			<li>mayo</li>
		</ul>
	</li>
	<li>Multicolore
		<photo-exist view="salade-multicolore"></photo-exist>
		<ul>
			<li>riz</li>
			<li>maïs</li>
			<li>concombre</li>
			<li>carottes</li>
			<li>choux fleur</li>
			<li>tomates cerises</li>
			<li>poivrons rouges et verts</li>
		</ul>
	</li>
	<li>Tagliatelles
		<photo-exist view="salade-tagliatelles"></photo-exist>
		<ul>
			<li>surimi</li>
			<li>citron</li>
			<li>tomate</li>
			<li>olives</li>
			<li>crème fraîche</li>
			<li>mayo</li>
			<li>basilic</li>
		</ul>
	</li>

	<li>Chèvre
		<ul>
			<li>chèvre frais</li>
			<li>courgette</li>
			<li>olives noires</li>
			<li>tomate</li>
			<li>poivron rouge</li>
		</ul>
	</li>
	<li>Panachée
		<ul>
			<li>salades vertes</li>
		</ul>
	</li>
	<li>Taboulé
		<photo-exist view="salade-taboule"></photo-exist>
	</li>
	<li>Tomate mozzarella
		<ul>
			<li> sauce au pesto</li>
		</ul>
	</li>
	<li>Ananas farci
		<photo-exist view="salade-ananas"></photo-exist>
		<ul>
			<li>jambon</li>
			<li>petits pois</li>
			<li>ananas</li>
			<li>tomate</li>
			<li>mayonaise</li>
		</ul>
	</li>
	<li>Niçoise
		<ul>
			<li>pdt</li>
			<li>thon</li>
			<li>maïs</li>
			<li>anchois</li>
			<li>poivrons</li>
			<li>haricots verts</li>
			<li>céléri</li>
			<li>tomate</li>
			<li>oeuf</li>
			<li>olive</li>
		</ul>
	</li>
	<li>Lentilles
		<ul>
			<li>lentilles</li>
			<li>carottes</li>
			<li>champignons</li>
			<li>céleri</li>
			<li>ciboulettes</li>
		</ul>
	</li>
	<li>Exotique
		<ul>
			<li>coeur de palmier</li>
			<li>artichaut</li>
			<li>maïs</li>
			<li>tomate</li>
			<li>salade verte</li>
		</ul>
	</li>
	<li>Canard
		<photo-exist view="salade-canard"></photo-exist>
		<ul>
			<li>salade verte</li>
			<li>marrons</li>
			<li>magret de canard fumé</li>
			<li>huile de noix</li>
		</ul>
	</li>
	<li>Charcutière
		<photo-exist view="salade-charcutiere"></photo-exist>
		<ul>
			<li>pdt</li>
			<li>pâté de tête</li>
			<li>tomate</li>
			<li>oignons</li>
		</ul>
	</li>
	<li>Carottes rapées</li>
	<li>Betteraves rapées</li>
	<li>Macédoine</li>
</ul>

<figure>
	<img src="assets/images/thumb/plats/salades/piemontaise.jpg" alt="salade Piémontaise" view="salade-piemontaise" />
	<img src="assets/images/thumb/plats/salades/multicolore.jpg" alt="salade Multicolor" view="salade-multicolore" />
	<img src="assets/images/thumb/plats/salades/taboule.jpg" alt="Taboulé" view="salade-taboule" />
	<img src="assets/images/thumb/plats/salades/ananas-farcis.jpg" alt="Salade à l'Ananas farcis" view="salade-ananas" />
	<img src="assets/images/thumb/plats/salades/canard.jpg" alt="salade de canard" view="salade-canard" />
	<img src="assets/images/thumb/plats/salades/tagliatelles.jpg" alt="salade Tagliatelles" view="salade-tagliatelles" />
	<img src="assets/images/thumb/plats/salades/charcutiere.jpg" alt="salade Charcutière" view="salade-charcutiere" />
</figure>