<ul class="salades">
	<li>couleur et sa sauce cocktail
		<ul>
			<li>salade verte</li>
			<li>pamplemousse</li>
			<li>pèche</li>
			<li>tomate</li>
			<li>olives noires</li>
			<li>crevettes</li>
		</ul>
	</li>
	<li>piedmontaise
		<ul>
			<li>Pdt</li>
			<li>tomate</li>
			<li>jambon</li>
			<li>oeuf</li>
			<li>fromage</li>
			<li>cornichon</li>
			<li>mayo</li>
		</ul>
	</li>
	<li>multicolore
		<ul>
			<li>riz</li>
			<li>maïs</li>
			<li>concombre</li>
			<li>carottes</li>
			<li>choux fleur</li>
			<li>tomates cerises</li>
			<li>poivrons rouges et verts</li>
		</ul>
	</li>
	<li>chèvre
		<ul>
			<li>chèvre frais</li>
			<li>courgette</li>
			<li>olives noires</li>
			<li>tomate</li>
			<li>poivron rouge</li>
		</ul>
	</li>
	<li>panachée
		<ul>
			<li>salades vertes</li>
		</ul>
	</li>
	<li>taboulé</li>
	<li>tomate mozzarella sauce au pesto</li>
	<li>ananas farcis
		<ul>
			<li>jambon</li>
			<li>petits pois</li>
			<li>ananas</li>
			<li>pdt</li>
			<li>tomate</li>
			<li>mayonaise</li>
		</ul>
	</li>
	<li>niçoise
		<ul>
			<li>pdt</li>
			<li>thon</li>
			<li>maïs</li>
			<li>anchois</li>
			<li>poivrons</li>
			<li>haricots verts</li>
			<li>céléri</li>
			<li>tomate</li>
			<li>oeuf</li>
			<li>olive</li>
		</ul>
	</li>
	<li>lentilles
		<ul>
			<li>lentilles</li>
			<li>carottes</li>
			<li>champignons</li>
			<li>céleri</li>
			<li>ciboulettes</li>
		</ul>
	</li>
	<li>exotique
		<ul>
			<li>coeur de palmier</li>
			<li>artichaut</li>
			<li>maïs</li>
			<li>tomate</li>
			<li>salade verte</li>
		</ul>
	</li>
	<li>canard
		<ul>
			<li>salade verte</li>
			<li>marrons</li>
			<li>magret de canard fumé</li>
		</ul>
	</li>
	<li>charcutière
		<ul>
			<li>pdt</li>
			<li>pâté de tête</li>
			<li>tomate</li>
			<li>oignons</li>
		</ul>
	</li>
	<li>carottes rapées</li>
	<li>betteraves rapées</li>
	<li>macédoine</li>
</ul>