<div id="content" class="menu-page">
	<h2>menu Louise</h2>
	<p>pour 6 personnes minimum</p>


	<section class="menu">
		<div class="price">33€ : 3 plats</div> 
		<div class="price">38,50€ : 4 plats</div> 

		<ul>
			<li>mise en bouche</li>
		</ul>
		<section>
			<h2>entrées</h2>
			<ul>
				<li>farandole de Saumon ( mariné, blinis en rillette, poêlé minute )</li>
				<li>crème de Morilles, oeuf poché, mouillettes de foie gras</li>
				<li>foie gras mi-cuit et confit d’échalote au vin rouge</li>
				<li>escalope de foie gras de canard au Cidre doux et /ou Foie gras pané au pain d’épice</li>
				<li>crémeuse de chataigne, Saint Jacques et foie gras poêlés</li>
				<li>noix de Saint Jacques , fondue de poireaux à la crème</li>
				<li>vol au vent d’escargots au Chablis</li>
				<li>foie gras mi-cuit et confit d'échalote au vin rouge</li>
			</ul>
		</section>

		<section>
			<h2>poissons</h2>
			<ul>
				<li>grande choucroute de la Mer</li>
				<li>dos de Cabillaud aux framboises et au Jasnières</li>
				<li>filet de Lingue au beurre blanc, timbale de riz sauvage (Selon marché du jour)</li>
			</ul>
		</section>

		<section>
			<h2>viandes</h2>
			<ul>
				<li>caille farcie au Foie gras, Sauce aux Cèpes, Petits légumes de Saison</li>
				<li>suprème de Pintade farci aux girolles</li>
				<li>tournedos de filet de boeuf façon Rossini</li>
				<li>steack d ‘Autruche aux cinq poivres</li>
				<li>grenadin de Veau au cidre, pomme au four</li>
				<li>pavé d’Autruche, beurre rouge au Cacao</li>
			</ul>
		</section>
		<section>
			<h2>desserts</h2>
			<ul>
				<li><a routerLink="/menus/desserts" >carte des Desserts</a><li>
			</ul>
		</section>
	</section>
	
	<fromages></fromages>

	<figure>
		<img src="assets/images/thumb/plats/DSCF0104.jpg" alt="plat" />
		<img src="assets/images/thumb/plats/DSCF01081.jpg" alt="plat" />
		<img src="assets/images/thumb/plats/vol_au_vent_escargots_chablis.jpg" alt="Vol au vent escargots chablis" />			
	</figure>
</div>