<div id="content" class="menu-page">
	<h2>menu Louise</h2>
	<p>pour 6 personnes minimum</p>


	<section class="menu">
		<div class="price">36€ : 3 plats</div>
		<div class="price">41,50€ : 4 plats</div>

		<ul>
			<li>mise en bouche</li>
		</ul>
		<section>
			<h2>entrées</h2>
			<ul>
				<li>farandole de Saumon ( mariné, blinis en rillette, poêlé minute )
					<photo-exist view="entree-farandole-saumon"></photo-exist>
				</li>
				<li>crème de Morilles, oeuf poché, mouillettes de foie gras</li>
				<li>foie gras mi-cuit et confit d’échalote au vin rouge</li>
				<li>escalope de foie gras de canard au Cidre doux et /ou Foie gras pané au pain d’épice</li>
				<li>crémeuse de chataigne, Saint Jacques et foie gras poêlés</li>
				<li>noix de Saint Jacques , fondue de poireaux à la crème</li>
				<li>vol au vent d’escargots au Chablis
					<photo-exist view="entree-vol-escargot"></photo-exist>
				</li>
				<li>foie gras mi-cuit et confit d'échalote au vin rouge</li>
			</ul>
		</section>

		<section>
			<h2>poissons</h2>
			<ul>
				<li>grande Choucroute de la Mer</li>
				<li>dos de Cabillaud aux framboises et au Jasnières</li>
				<li>filet de Poisson au beurre blanc, timbale de riz sauvage, selon marché du jour</li>
				<li>Médaillon de Lotte en croustillant, tian de légumes à l’huile d’olive, beurre blanc à la Vanille</li>
			</ul>
		</section>

		<section>
			<h2>viandes</h2>
			<ul>
				<li>caille farcie au Foie gras, Sauce aux Cèpes, Petits légumes de Saison
					<photo-exist view="viande-caille-farcie"></photo-exist>
				</li>
				<li>suprème de Pintade farci aux girolles
					<photo-exist view="viande-supreme-pintade"></photo-exist>
				</li>
				<li>tournedos de filet de boeuf façon Rossini</li>
				<li>steack d'Autruche aux cinq poivres</li>
				<li>pavé d’Autruche, beurre rouge au Cacao</li>
				<li>grenadin de Veau au cidre, pomme au four</li>
			</ul>
		</section>
		<section>
			<h2>desserts</h2>
			<ul>
				<li><a routerLink="/menus/desserts">carte des Desserts</a><li>
			</ul>
		</section>
	</section>

	<fromages></fromages>

	<figure>
		<img src="assets/images/thumb/plats/supreme_pintade.jpg" alt="suprême de pintade" view="viande-supreme-pintade" />
		<img src="assets/images/thumb/plats/farandole_saumont.jpg" alt="fanrandole de saumont" view="entree-farandole-saumon" />
		<img src="assets/images/thumb/plats/caille_foie_gras.jpg" alt="caille farcie au foie gras" view="viande-caille-farcie" />
		<img src="assets/images/thumb/plats/DSCF0104.jpg" alt="plat" />
		<img src="assets/images/thumb/plats/DSCF01081.jpg" alt="plat" />
		<img src="assets/images/thumb/plats/vol_au_vent_escargots_chablis.jpg" alt="Vol au vent escargots chablis" view="entree-vol-escargot"
		/>
	</figure>
</div>