<div id="content" class="menu-page buffet">
	<h2>buffet</h2>
	<section class="menu">
		<ul>
			<li>salades composées
				<salades class="inline center"></salades>
			</li>

			<li>charcuterie
				<ul>
					<li>rillettes de porc</li>
					<li>rillettes de canard</li>
					<li>pâté de porc</li>
					<li>pâté de foie</li>
					<li>petits rillons tourangeaux</li>
					<li>jambon blanc</li>
					<li>assortiment de « rondelles »</li>
				</ul>
			</li>
			<li>poissons fumés</li>
			<li>viande
				<ul>
					<li>roti de boeuf et chips</li>
					<li>roti de porc</li>
					<li>poulet roti</li>
					<li>chips</li>
				</ul>
			</li>

			<li>pains garnis
				<ul>
					<li>beurres de saumon</li>
					<li>thon</li>
					<li>jambon</li>
					<li>mousse de foie</li>
					<li>fromage frais</li>
				</ul>
			</li>

			<li>plateau de fromages</li>
			<li>buffet de fruits</li>
			<li>buffet de mignardises</li>
			<li>Tartelette aux fruits</li>
			<li><a routerLink="/menus/desserts" >carte des Desserts</a></li>
			<li>gâteaux de patissier et bougies</li>
			<li>pains</li>
			<li>eaux, vin, jus de fruits</li>
			<li>enfants: buffet de crèpes à volonté ( sucrées et salées) </li>
		</ul>
	</section>
</div>